<% include partials/_header.ejs %>

<div class="pullquote">
<%= pollValue %>
</div>

<!--
    Pie chart courtesty of the fine folks at Chart.JS,
https://www.chartjs.org

-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


<canvas id="myChart"></canvas>

<div class="hide">

  <p id="totalPoints"> <%= totalPoints %> </p>

  <div>
    <% options.forEach((option) => { %>
      <p class="optionValue"> <%= option.value %> </p>
    <% }) %>
  </div>

    <div>
    <% options.forEach((option) => { %>
      <p class="optionPoints"> <%= option.points %> </p>
    <% }) %>
  </div>

  <div>
    <% options.forEach((option) => { %>
      <p class="optionProportion"> <%= option.proportion %> </p>
    <% }) %>
  </div>

</div>

<script>
Chart.defaults.global.legend.position = 'bottom';
Chart.defaults.global.legend.labels.fontColor= 'white';
Chart.defaults.global.legend.labels.fontSize = 20;

let totalPoints = $('.hide#totalPoints').text();
let optionValues = [];
let optionPoints = [];
let optionProportions = [];
let optionDescriptions = [];
let noVotes = true;

$('.optionValue').each(function() {
  optionValues.push($(this).text());
})

$('.optionPoints').each(function() {
  if($(this).text() > 0) noVotes = false;
  optionPoints.push($(this).text());
})

$('.optionProportion').each(function() {
  optionProportions.push($(this).text());
})


for(let i = 0; i < optionValues.length; i++) {
  optionValues[i] += ` (${Math.round(optionProportions[i] * 100)}%)`;
}

let data = {
    datasets: [{
        data: optionPoints,
        borderColor: 'rgba(0,0,0,0.0)',
        borderWidth: '5 ',
        backgroundColor:['red', 'green', 'blue', 'purple', 'orange', 'lightblue',
        'lightgreen', 'pink', 'black', 'white']
    }],

    labels: optionValues


};

if(noVotes){
  $('.pullquote').append(`<br>No one has voted on this poll yet, check back later`)
}else {
  var ctx = document.getElementById('myChart').getContext('2d');
  var myPieChart = new Chart(ctx,{
      type: 'pie',
      data: data,
      borderColor: 'black',

      options: {
      legend: {
          display: true,
      },
      labels: {
          color: 'black',
          position: 'bottom'
      }

      }
  });
}
</script>


<% include partials/_footer.ejs %>

